In [15]:
import re
import pandas as pd
import numpy as np
import mysql.connector

In [16]:
conexao = mysql.connector.connect(host='localhost',user='root',password='',database='producao')
cursor = conexao.cursor()

In [17]:
arq1 = open("arquivos/saida.csv", "w")
arq1.write("numero;despacho;data\n")

arq2 = open("arquivos/saida2.csv", "w")
arq2.write("mes;total\n")

meses = np.array(['','jan','fev','mar','abr','mai','jun','jul','ago','set','out','nov','dez'])

# calcula produção por mês
for mes in range(1, 12, 1):
    ano = 2022
    total = 0
    comando = f'select * from arquivadosxml where year(data)={ano} and month(data)={mes} and despacho in ("9.1","9.2","11.2") and anulado=0 order by numero asc'
    cursor.execute(comando)
    resultado = cursor.fetchall()
    for row in resultado:
        numero = str(row[2])
        #print(numero)
        despacho = str(row[1])
        data = str(row[3])
        total = total + 1
        arq1.write(str(numero)+";"+str(despacho)+";"+str(data)+"\n")
        
    print(f'Registros : {total} {mes} ')
    arq2.write(str(meses[mes])+';'+str(total)+'\n')
    #break
    
arq1.close()
arq2.close()

Registros : 1372 1
Registros : 2450 2
Registros : 3450 3
Registros : 2272 4
Registros : 2567 5
Registros : 2460 6
Registros : 2844 7
Registros : 2718 8
Registros : 2798 9
Registros : 2809 10
Registros : 2589 11

In [ ]:
# SELECT year(data),month(data),count(*) FROM `arquivadosxml` WHERE despacho in ('9.1','9.2','11.2') and anulado=0 group by year(data),month(data) order by year(data),month(data) asc;
# SELECT * FROM `arquivadosxml` WHERE despacho in ('9.1','9.2','11.2') and anulado=0 and year(data)=2022 and month(data)=1 order by numero asc;

In [31]:
arq1 = open('arquivos/saida2.csv', 'r')
data = arq1.read()
rows = data.split('\n')
full_data = []
for row in rows:
    split_row = row.split(";")
    full_data.append(split_row)

count = 0
for row in full_data:
    count += 1
    
print(f"total Registros {count}")
print(full_data)
arq1.close

total Registros 13
[['mes', 'total'], ['jan', '1372'], ['fev', '2450'], ['mar', '3450'], ['abr', '2272'], ['mai', '2567'], ['jun', '2460'], ['jul', '2844'], ['ago', '2718'], ['set', '2798'], ['out', '2809'], ['nov', '2589'], ['']]

In [29]:
for i in range(1, 13, 1):
    mes = full_data[i][0]
    total = full_data[i][1]
    print(f'{mes} = {total}')

jan = 1372
fev = 2450
mar = 3450
abr = 2272
mai = 2567
jun = 2460
jul = 2844
ago = 2718
set = 2798
out = 2809
nov = 2589

IndexError: list index out of range